.board-layout {
    background-color: rgb(173, 171, 171);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 10px;
    padding: 14px;
    height:800px;
  }.list-layout {
    display: grid;
    
   
  }.board-text {
    font-weight: bold;
    font-size: 28px;
    padding: 5px;
  }
  .board-lists {
    display: grid;
    grid-auto-columns: 260px;
    grid-auto-flow: column;
    height: 400px;
    width: 40px;
 
  }
  
  .board-list {
    background-color: rgb(235, 236, 240);
    border-radius: 3px;
    display: grid;
    grid-auto-rows: max-content;
    height: max-content;
    padding: 10px;
    width: 200px;
  }
  
  .list-title {
    font-size: 18px;
    font-weight: bold;
  }.card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 10px;
    cursor:pointer;
  }